body {
    font-family: 'Delius Unicase', cursive;
    /* background-color: blanchedalmond; */
    background-image: url("/pizzaapp/images/pontevecchioblu.jpeg");
    background-color: tan; 

}
main {
    width: 960px;
    margin: auto;
    background-color: blanchedalmond;
    /* overflow: hidden; */
}
.btn {
    border: none !important;
}
/* LANDING PAGE */
/* .btn {
    border-radius: 50%;
} */
#pizza-home {
    /* background-color: tan;
    width:900px;
    height: 900px; */
    /* margin: -650px auto auto -850px; */
    /* margin: -350px auto auto -250px;
    opacity: .8;
    border-radius: 50%; */
    /* position: absolute; */
    grid-template-columns: repeat(3,1fr);
} 
#logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
    grid-row: 2 /3;

    /* float: right;
    margin-right: 50px;
    margin-top: -325px; */
}
/* .landing-btns {
    position: absolute;
} */
#pepperoni {
    width: 1100px;
    height: auto;
    position: absolute;
    /* left: -600px;
    top: -750px; */
    top: -450px;
    left: -80px;
    /* clip-path: inset(0px 0 0px 360px); */
    /* overflow: hidden; */
}

h1 {
    font-size: 5em;
    text-align: center;
}
p {
    font-size: 1.5em;
    padding: 40px;
}
#logo-images {
    width: 300px;
    position: relative;
    left: 630px;
    top: -450px;
    background-color: midnightblue;
    border-radius: 50%;
    /* position: absolute; */
}
#prlove img {
    width: 300px;
    height: 300px;
    /* top: 200px; */
    position: relative;
    /* padding-top: 30px; */
    bottom: 15px;
    left: 2px;

}
#bwpizza img {
    width: 60px;
    height: 60px;
    position: absolute;
    /* margin-left: 110px; */
    left: 120px;
    top: 10px;
}
#craving-btn, #order-btn, #findus-btn, #orderit-btn, #payup-btn, #paythepiper-btn
/* , .dot, .dot2, .dot3, .dot4  */
{
    background-color: midnightblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    color: blanchedalmond;
    font-size: 2em;
    /* transition is the animation */
    /* transition: all 2s;transition all for 2secs
    transition-timing-function: ease-in-out; */
}
.landing-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 100%;
    margin: 0 auto;
    top: -200px;
    left: 50px;
    position: relative;
}

/* ORDER PAGE */

.custom-select:focus {
    border-color: midnightblue;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}
.order-page, .getmypizza, .creditcard-page {
    width: 500px;
    margin: 0 auto;
}
/*CHECKOUT PAGE*/
.form-control:focus {
    border-color: midnightblue;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}
.circle2 {
    background-color: tan;
    width:1250px;
    height: 1250px;
    /* margin: -650px auto auto -850px; */
        /* margin: -350px auto auto -250px; */
    opacity: .8;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    margin-left: -750px;

}



.orderall {
    padding-top: 100px;
}
.orderall, .payup-circle {
    position: relative;
}
.circle {
    background-color: tan;
    width:1155px;
    height: 1155px;

    /* margin: -650px auto auto -850px; */
        /* margin: -350px auto auto -250px; */
    opacity: .8;

    border-radius: 50%;
    position: absolute;
    top: -7px;
    margin-left: -900px;

    /* background-color: tan;
    width:900px;
    height: 900px; */
    /* margin: -650px auto auto -850px; */
        /* margin: -350px auto auto -250px;

    border-radius: 50%; */

}

#orderit-btn {
    top: -300px;
    left: 400px;
}
#craving-btn {
    grid-row: 3 / 4;
    /* top: -275px;
    left:300px; */
}
#order-btn {
    grid-row: 3 / 4;

    /* top: -150px;
    left: 400px; */
}
#order-btn:hover {
    /* background: url('images/pepperoni-transparent-3.png') no-repeat; */
    background-color: midnightblue;
    opacity: .8;
}
#findus-btn {
    grid-row: 3 / 4;

    /* top:0px;
    left: -275px; */
}

/*GOTTAFINDYA & STREET CREDS*/
/* .errorFone {
    border: 3px solid crimson !important;
} */
/* .valid { */
    /* border: 3px solid midnightblue !important;
} */
.invalid {
    border: 3px solid crimson !important;
    box-shadow: 0 0 0 .2rem rgba(220,20,60,.25);
}
.invalid:focus {
    box-shadow: 0 0 0 .2rem rgba(220,20,60,.25);
}


/*STREET CREDS*/
/* .form-check-input:checked ~ .form-check-input::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}
.form-check-input .form-check-input::before {
    border-radius: .25rem;
}
.form-check-input .form-check-input:checked ~ .form-check-input::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
.form-check-input::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
        background-image: none;
} */
#payup-btn2, #paythepiper-btn2 {
    background-color: midnightblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    color: blanchedalmond;
    font-size: 1.25em;
}
.payup-btns, .paythepiper-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 100%;
    margin: 0 auto;
}
select {
    font-family: 'Delius Unicase', cursive;
}




/* .dot { */
    /* background-color: rgba(53, 53, 109, .3); */
    /* background-color: tan;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 100px;

} */
/* .dot2 { */
    /* background-color: rgba(108, 108, 214, 0.3); */
    /* background-color: tan;
    width: 100px;
    height: 100px;

}
.dot3 { */
    /* background-color: rgba(53, 53, 109, .3); */
    /* background-color: tan;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 100px;

}
.dot4 { */
    /* background-color: rgba(108, 108, 214, 0.3); */
    /* background-color: tan;
    width: 100px;
    height: 100px;

} */

/* .dot3 {
    background-color:  rgb(14, 14, 53, .2);
    width: 150px;
    height: 150px;

} */
/* .dot4 {
    background-color:  rgba(10, 10, 85, .5);
    width: 100px;
    height: 100px;

} */



/* .box.rotate:hover { */
    /* transform: rotate(720deg); */
    /*number of degrees to rotate) - if want full rotations multiply 360 by how many rotations*/
    /* using negative degrees will rotate counter clockwise */
    /* background-color: #bcdf34;
} */